/* GLOBAL STYLES */
* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  text-align: left;
}

/* COPIED FROM HARSHA */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-menu {
  background-color: red;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item {
  color: white;
  background-color: red;
  font-family: "Montserrat", sans-serif;
}

.aboutAsHeader {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.bio {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.li-ic,
.git-ic {
  text-align: center;
}

footer {
  background-color: red;
  padding: 20px 250px 200px 250px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
