* {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar a li{
      float:right;
  }

.dropdown-menu {
    background-color: red;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-item {
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggle{
  background-color:#000000;
}

  /* login */
  ul .nav .navbar-nav .navbar-right{ 
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f39c12;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.background-image{
  background-size: cover;
}
  
 
  /* moving photos on attractions page */

.carousel-inner img{
  display: block;
    width: 100%;
    max-height: 550px;
    margin: auto;
}

/* what we do images/ links */
.col-sm-4 park img{
  height:20px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }

  /* nature preserve page */
  .col-sm-4{
    text-align: left;
    height: 400px;
    width: 100px;
}

/* Add a gray background color and some padding to the footer */
  footer{
    background: red;
    padding: 50px;
    font-size: 15px;
  }