.navbar-toggle{
  background-color:#000000;
}

  /* login */
  ul .nav .navbar-nav .navbar-right{ 
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f39c12;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.background-image{
  background-size: cover;
}


.family-fun{
    text-align: left; 
}

.family-fun h1{
  text-align: center;
  margin-bottom: 20px;
}

.family-fun p{
  margin-left: 20px;
}
.family-fun h1{
  margin-left: 20px;
}

.content{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* PARK PHOTO */
/* @media (max-width:767px) {
  .park img {
      max-width: 100%;
      max-height: 100%;
  }
}

@media (min-width:768px) {
  .park img {
      max-width: 240px;
      max-height: 240px;
  }
}

@media (min-width:992px) {
  .park img {
      max-width: 314px;
      max-height: 314px;
  }
}

@media (min-width:1200px) {
  .park img {
      max-width: 380px;
      max-height: 380px;
  }
} */

/* EVENT PHOTO */
/* @media (max-width:767px) {
  .events-pic img {
      max-width: 100%;
      max-height: 100%;
  }
}

@media (min-width:768px) {
  .events-pic img {
      max-width: 240px;
      max-height: 240px;
  }
}

@media (min-width:992px) {
  .events-pic img {
      max-width: 314px;
      max-height: 314px;
  }
}

@media (min-width:1200px) {
  .events-pic img {
      max-width: 380px;
      max-height: 380px;
  }
} */

/* Attractions button */
.attractionsBtn{
 margin: 10px;
 background-color: lightgray;
}

  /* Add a gray background color and some padding to the footer */
  footer{
    background-color: red;
    color: white;
    padding: 50px;
    font-size: 15px;
  }