.navbar-toggle{
  background-color:#000000;
}

  /* login */
  ul .nav .navbar-nav .navbar-right{ 
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f39c12;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.background-image{
  background-size: cover;
}

/* Heading and paragraph */
.family-fun{
    text-align: left; 
}

.family-fun h1{
  text-align: center;
  margin-bottom: 20px;
}

.family-fun p{
  margin-left: 20px;
}
.family-fun h1{
  margin-left: 20px;
}

/* Attractions button */
.attractionsBtn{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

.attractionsBtn a{
  text-decoration: none;
}

.attractionsBtn:hover{
  border-style: solid;
  border-color: red;
  border-width: 2px;
  transition: all .4s;
  
}

footer {
  margin-bottom: 20px,; 
  margin-top: 20px;
  background-color: red;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  }

  .linkhdr{
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 15px;
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  .links> p {
    text-align: left;    
    font-size: 1em;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  @media screen and (max-width: 320px) {
    footer {
      width: 100%;
      
   
    }
  }
  @media screen and (max-width: 320px) {
    #left, #middle, #right {
    font-size: 5px;
    float: left;
    margin:0;
    padding-bottom: 20px;
    }
  }