
* {
    font-family: 'Montserrat', sans-serif;
}
/*ALERT*/
#panel, #flip {
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: red;
  border: solid 1px white;
  font-size: 12px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-menu {
    background-color: red;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-item {
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{  
  position: relative;
  
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.image {
  display: block;
  width: 100%;
  height: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
}

.wrapper:hover .overlay {
  opacity: 0.7;
  
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: top;
}
.resName {
  color: white;
  font-size: 15px;

}

/*FOOTER*/
footer {
  margin-bottom: 20px,; 
  margin-top: 20px;
  background-color: red;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  }

  .linkhdr{
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 15px;
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  .links> p {
    text-align: left;    
    font-size: 1em;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  @media screen and (max-width: 320px) {
    footer {
      width: 100%;
      margin-top: 0;
      
    }
  }
  @media screen and (max-width: 320px) {
    #left, #middle, #right {
    float: left;
    margin:0;
    margin:0;
    padding-bottom: 20px;
    }
  }