* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-menu {
    background-color: red;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-item {
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    background-color: red;
    border-radius: 5px;
    border-width: 1px;  
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 40px;
}

 #btnTopRes, #btnFilt, #btnMap{
  position: sticky;
  display:inline-block;
  width: 200px;
  height: 55px;
  font-size: 15px;
  background-color:white;
  font-family: 'Montserrat', sans-serif;
  color:black;
  border: solid;
  border-color: red;
  border-width: 0.3rem;
  padding: 0.3rem;
  margin: 0.2rem;
  
}

#btnTopRes:hover,#btnFilt:hover, #btnMap:hover{
  position: sticky;
  display:inline-block;
  width: 200px;
  height: 55px;
  font-size: 15px;
  background-color:red;
  font-family: 'Montserrat', sans-serif;
  color:white;
  border: solid;
  border-color:gray;
  border-width: 0.3rem;
  padding: 0.3rem;
  margin: 0.2rem;
  
}

footer {
    background-color: red;
    padding: 20px 250px 200px 250px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }

  #left {
    float: left;
    width: 33.3%;
  }
  
  #middle {
    float: left;
    width: 33.3%;
  }
  
  #right {
    float: left;
    width: 33.3%;
  }

  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

    /* Style the navbar */
#navbarRes {
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  /*position: sticky;*/
}

/* Navbar links */
#navbarRes a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.foodtext {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .foodtext {
  padding-top: 60px;
}}