
* {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    height: 165px;
  }

  .navbar img{
      height: 110px;
      width: 180px;
  }

  .navbar a li{
      float:right;
  }

.dropdown-menu {
    background-color: red;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-item {
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.background-image{
  background-size: cover;
}
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: red;
    padding: 50px;
    font-size: 15px;
  }

img{
    text-align: left;
    height: 300px;
    width: 400px;
}