* {
    font-family: 'Montserrat', sans-serif;
}

/*NAVIGATION*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
.logo {
    padding-right: 20px;
}
.dropdown-menu {
    background-color: red;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 14px;
  }
.dropdown-item {
    color: white;
    background-color: red;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.dropdown-item:hover {
  color: black;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/* keeps navabr toggle black */
.navbar-toggle{
  background-color:#000000;
}


/*CAROUSEL*/
.carFest, .carView, .carDate {
  background-color: red;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  }
.carText {
  color: white;
  opacity: 1.0;
}
ul.nav a:hover{
  color: black !important;
}

/* ADVERTISE & SUBSCRIBE BUTTONS*/
.well {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.well:hover {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  transition: all .6s;
}
.doNotMiss {
  color: black;
  padding-bottom: 10px;
}
.adButton, .subButton {
  color:black;
  text-decoration: none;
}
.adButton:hover, .subButton:hover {
  color:red;
}

/*FOOTER*/
footer {
    background-color: red;
    padding: 20px 250px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    align-content: center;
  }

.copy {
  font-size: 12px;
  text-align: center;
}

  /*COUNTDOWN*/
  section {
    margin: auto;
    padding: 30px;
  }
  .picture, .countdown {
    margin: auto;
    padding: 10px;
  }
  .link {
    text-align: right;
    padding-right: 20px;
  }
  .line {
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, red, white);
  }
  .profile {
    border-style: solid;
    border-radius: 5px;
  }

/*AQUARIUM*/
.aquastory {
  margin: auto;
  text-align: center;
  align-content: center;
}
.child {
  align-content: center;
}
.article {
  text-align: left;
  padding-top: 20px;
}
#support {
  text-align: center;
}
#donate {
  color: red;
}

/*Donut*/
.bodysec {
  margin: auto;
  text-align: center;
  align-content: center;
}
/*ALERT*/
#panel, #flip {
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: red;
  border: solid 1px white;
  font-size: 12px;
}

/*Nature Page*/
.nature-description h1{
  text-align: center;
}

.nature p {
  margin-bottom: 40px;
  margin-left: 30px;
}


/*CAROUSEL*/

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
}
@media (max-width: 720px) {
  .carousel-caption {
    display: none;
  }


  /*LOG-IN PAGE*/
	/* Coded with love by Mutiullah Samim */
    .user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: red;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    margin-top: 100px;
  }
  .login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
  }
