* {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-menu {
    background-color: red;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-item {
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: red;
    padding: 50px;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }