* {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar a li{
      float:right;
  }

.dropdown-menu {
    background-color: red;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  }

.dropdown-item {
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.background-image{
  background-size: cover;
}
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: red;
    padding: 50px;
    font-size: 15px;
  }
  /* moving photos on attractions page */

.carousel-inner img{
  display: block;
    width: 100%;
    max-height: 550px;
    margin: auto;
}

/* what we do images/ links */


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }